/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Poppins:wght@200;400;600;700;800&display=swap'); */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

img {
    max-width: 100%;
}

.container {
    width: 1110px;
    margin: 80px auto;
}

header {
    margin-bottom: 64px;
    text-align: center;

}

header h3 {
    color: #4D4F62;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    letter-spacing: 0.25px;
}

header h1 {
    color: #4D4F62;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25px;
}

header p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.104px;
    line-height: 25px;
    opacity: .5;
    max-width: 540px;
    margin: 0px auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.nestgrid {
    display: grid;
    gap: 30px;
}

.grid-item {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    box-sizing: border-box;
    height: 250px;
    padding: 32px;
    position: relative;
}

.grid .left,
.grid .right {
    align-self: center;
}


.grid-item span {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.turquoise {
    border-top: 4px solid #44D3D2;
}

.red {
    border-top: 4px solid #EA5454;
}

.orange {
    border-top: 4px solid #FCAE4A;
}

.blue {
    border-top: 4px solid #549EF2;
}